body{
    background: #2e2e2c;
    color: #ffffff;
}

.login{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*NAVBAR*/
.navbar{
    background-image: linear-gradient(#8f64d5, #6638a6) !important ;
}

/*Home page feed Cards*/
.rounded-4{
    border-radius: .7rem !important;;
}

/*Font color*/
 

 