body{
    background: #2e2e2c;
    background: #032c3b;
    color: #ffffff;
}

.login{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*NAVBAR*/
.navbar{
    background-color: #065471 !important ;
}

/*Home page feed Cards*/
.rounded-4{
    border-radius: .7rem !important;;
}

/*Font color*/
 
.loginPageLogo{
    display: flex !important; 
    justify-content: center !important;
}
 